.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: auto 10%;
    text-align: center;
}

body {
    font-family: "Rufina";
    background: #ececec;
}

button#generate {
    background: black;
    padding: 8px 24px;
    border-radius: 0;
    color: whitesmoke;
}